/* Fond du modal */

img {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

/* Contenu du modal */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Entête du modal */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Corps du modal */
.modal-body {
    padding: 2px 16px;
}

/* Bas du modal */
.modal-footer {
    padding: 14px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Bouton de fermeture */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Bouton de fermeture quand souris dessus */
.close:hover{
    color: #000;
    cursor: pointer;
}