.splide__slide img {
    display: block;
    width:100%;
}

.splide__slide {
    margin: auto;
}

.splide__track {
    position: relative;
    background-color: grey;
}

#annulation {
    display: inline-block;
    background-color: red;
    cursor: pointer;
    width:fit-content;
}

#validation {
    display: inline-block;
    background-color: green;
    cursor: pointer;
    width:fit-content;
}

#boutons {
    position: absolute;
    bottom: 0;
    right: 0;
}

#carousel-form {
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    background-color: grey;
    position: absolute;
}

.widget {
    cursor: pointer;
}